config client
	option localinterface br-lan
	option localport 8801
	option remoteaddr 192.168.96.1
	option remoteport 2223
	option key aes

	# aes, aes-128, aes-192, salsa20, blowfish, twofish, cast5, 3des, tea, xtea, xor, none (default: "none")
	option crypt none

	# profiles: fast3, fast2, fast, normal (default: "fast")
	option mode fast3

	# maximum transmission unit for UDP packets (default: 1350)
	#option mtu 1350

	# send window size(num of packets) (default: 1024)
	#option sndwnd 1024

	# receive window size(num of packets) (default: 1024)
	#option rcvwnd 1024

	# reed-solomon erasure coding - datashard (default: 10)
	#option datashard 10

	# reed-solomon erasure coding - parityshard  (default: 3)
	# option parityshard 3

	# DSCP(6bit) (default: 0)
	#option dscp 0

	# disable compression (default: true)
	#option nocomp 1

	# set ack no delay (default: false)
	#option acknodelay false

	# set all conn no delay (default: false)
	#option nodelay false

	# default 20
	#option interval 20

	# default 2
	#option resend 2

	# what's this ? (default 1)
	#option nc 1

	# default 4194304
	#option sockbuf 4194304

	# default 10
	#option keepalive 10
